.welcome {
  padding: 3.5rem 0;
}

.icons {
  padding: 2rem 0;
  /* background-color: red; */
  max-width: 60rem;
  margin: 0 auto;
}

.icons a {
  color: #000000;
  font-size: 17px;
}

.image {
  background-blend-mode: multiply;
  background-image: url("../img/doluwamu.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  height: 30rem;
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 4px grey;
  border-radius: 7px;
}

.img__text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ffffff;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  */
  /* margin: 0 0; */
  width: 15rem;
  /* background: red; */
}

.img__text.h1 {
  font-size: 37px;
}

.img__text.h2 {
  font-size: 30px;
}

/* .img-text {
  text-align: center;
} */

@media screen and (max-width: 850px) {
  .welcome {
    padding: 2rem 0;
  }

  .image {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 650px) {
  .welcome {
    padding: 2rem 0;
  }

  .image {
    margin: 0 1rem;
    height: 15rem;
  }
}
@media screen and (max-width: 300px) {
  .img__text.h1,
  .img__text.h2 {
    max-width: 9rem;
  }

  .img__text.h1 {
    font-size: 27px;
  }

  .img__text.h2 {
    font-size: 20px;
  }
}
