@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
}

body {
  font-family: "Quicksand", sans-serif;
  /* color: hsl(0, 0%, 89%); */
  /* font-family: "Montserrat", sans-serif; */
}
